@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url("/assets/images/Group 35704.png");
  background-repeat: no-repeat;
  background-size: 100% 85%;
  background-color: ghostwhite;
  --tw-bg-opacity: 1;
  min-height: 100vh;
}

/* #293364 */

@media (max-width: 768px) {
  body {
    background: #293364;
  }
}